@import '../globals';

@import '../components/emulated-led-matrix';

.app.emulator {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .connectivity {
    display: flex;
    justify-content: space-between;

    .left,
    .right {
      display: flex;
      padding: var(--universal-padding);
      position: relative;
      flex-wrap: wrap;
      align-items: center;
    }

    .left {
      justify-content: flex-start;

      >* {
        margin-right: var(--universal-margin);
      }
    }

    .right {
      justify-content: flex-end;

      >* {
        margin-left: var(--universal-margin);
      }
    }

    .indicator {
      display: inline-block;
      background-color: red;
      width: 1em;
      height: 1em;

      &.connected {
        background-color: green;
      }
    }

    .fps {
      display: inline-block;
    }

    .app-title {
      text-align: right;
    }

    img.app-icon {
      width: 1.5em;
      height: 1.5em;
    }
  }

  .emulator-wrapper {
    position: relative;
    flex: 1;
  }
}