@import '../globals';

@import '../components/emulated-led-matrix';

.app.emulator {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  .connectivity {
    display: flex;
    align-items: center;
    padding: var(--universal-padding);
    
    .indicator {
      display: inline-block;
      background-color: red;
      width: 1em;
      height: 1em;

      &.connected {
        background-color: green;
      }
    }

    .fps {
      display: inline-block;
      margin-left: var(--universal-margin);
    }
  }
}